-
    let cardsFirst = {
        velotour:{
            flag: false,
            seeallplanes: false,
            source: "img/velotour.png",
            img: "img/velotour.webp",
            alt: "",
            name: "Тур на велосипедах",
            price: 335,
            curency: "грн*",
            description: "Подорожуючи  на велосипеді, ви поринете в атмосферу мальовничих гір, чарівнмх краєвидів та шалених пригод.",
        },
        excursion:{
            flag: true,
            seeallplanes: true,
            source: "img/excursion.png",
            img: "img/excursion.webp",
            alt: "",
            name: "Екскурсія на острів",
            price: 500,
            curency: "грн*",
            description: "Подорож на острів занурить Вас у незабутнні пригоди. Неймовірна краса  у будь-яку пору року .",
        },
        special:{
            flag: true,
            seeallplanes: false,
            source: "img/private.png",
            img: "img/private.webp",
            alt: "",
            name: "Особливе замовлення",
            price: 250,
            curency: "грн*",
            description: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші. ",
        }
    }

mixin cards(cardsInfo)
    .card-poslugi.col-12.col-md-4
        figure.bicycle.text-center.p-4
            figcaption
                p(class= (cardsInfo.flag) ? "flag": "")
                a(href="#").bicycle-svg
                picture
                    source(srcset=cardsInfo.source)
                    img(src=cardsInfo.img, alt=cardsFirst.alt)
                p.name #{cardsInfo.name}
                p.price #{cardsInfo.price}
                    span.curency #{cardsInfo.curency}
                p.desctiption.left.text-left #{cardsInfo.description}
        .text-center.pt-3
            a(href="#" class = (cardsInfo.seeallplanes) ? "all-planes": "see-all-planes-disable") дивитись усі плани 
-
    let cardsSecond = {
        romantics:{
            flag: true,
            bicycle: false,
            source: "img/romantics.jpg",
            img: "img/romantics.webp",
            alt: "",
            name: "Романтична подорож на 2",
            price: 2599,
            curency: "грн.",
            description: "Обираючи цю подорож, Ви самостійно робите її незабутнбою та не схожою на будь-які інші. ",
        },
        biketour:{
            flag: true,
            bicycle: true,
            source: "img/enduro.jpg",
            img: "img/enduro.webp",
            alt: "",
            name: "Велотур",
            price: 555,
            curency: "грн.",
            description: "Бажаєте прокататись з вітерцем, та ще й з критим краєвидом довкола? Тоді швидше замовляй велотур!",
        },
        onisland:{
            flag: true,
            bicycle: false,
            source: "img/islands.jpg",
            img: "img/islands.webp",
            alt: "",
            name: "На острови!",
            price: 1559,
            curency: "грн.",
            description: "Хочеш зануритись у тишу, місце де не має натовпу, та панує дмка природа? Тоді вперед за пригодами!",
        },
        serfing:{
            flag: true,
            bicycle: false,
            source: "img/serfing.jpg",
            img: "img/serfing.webp",
            alt: "",
            name: "Катання на сьорфінгу",
            price: 999,
            curency: "грн",
            description: "Хочеш отримати екстрим та мега вражень одночасно? Тоді вперед ловити хвилі!",
        }
    }
    
mixin cardsSecond(cardsInfoSecond) 
    figure.serfing.col-xl-3.col-sm-12
        figcaption
            p(class=(cardsInfoSecond.flag) ? "flag": "")
            picture
                source(srcset=cardsInfoSecond.source)
                img(src=cardsInfoSecond.img, alt=cardsFirst.alt)
                span(class=(cardsInfoSecond.bicycle) ? "bicycle-flag": "")
            p.title-specialized.px-3.py-2 #{cardsInfoSecond.name}
            p.description-specialized.px-3.py-1 #{cardsInfoSecond.description}
            .row.price-specialized.d-flex.px-3.pb-2
                p.price-price.col-5 #{cardsInfoSecond.price}
                    span.curency #{cardsInfoSecond.curency}
                a(href="#").price-btn.col-7 замовити